body {
    background-color: wheat;
    color: black;
}

.navbar-brand{
    vertical-align: middle;
}

#button-container{
    float: right; vertical-align: middle;
}

#game-map {
    padding: 1em;
    display:block;
	width:100%;
	height:auto;
}


#account-address {
    float: right;
}